[feature request] Set a unique user-agent for skopeo

I did some quick grepping around and don't see any skopeo-specific user-agent being set, which makes debugging things from the registry side a bit challenging.

Thanks for the request, @jonjohnsonjr.

@rhatdan @mtrmac WDYT?

Alternatively, should c/image have a default User-Agent value? Podman and Buildah set a value, but it’s unclear that the registry cares about the difference.

(OTOH I vaguely remember that at one time we have traced back a behavior difference between Podman and Skopeo down to User-Agent, and I can’t remember which one worked; so it might not be safe enough to default to an User-Agent value — or maybe that case was sufficiently obscure that we shouldn’t need to care; I can’t remember the details and I can’t search for them today.)

> Alternatively, should c/image have a default User-Agent value?

I'd be fine with that as well, especially if some version information is included. Mostly I'm looking for a way to reproduce issues and determine how many users are affected by said issues.

Some kind of containers/image UA by default like `containers-image/5.8.0` (or whatever string) would work just as well.

skopeo could supply its own to produce `skopeo/1.2.0 containers-image/5.8.0` (not sure if this conforms to the grammar), which would save a little bit of time correlating versions across projects, but honestly I'd be fine with just `skopeo/1.2.0` as well!

> I can’t remember the details and I can’t search for them today.

https://github.com/containers/podman/issues/1792 might be what you're thinking of? Looks like it's fixed. That kind of user-agent sniffing is super brittle and I'd argue any registries doing this are broken :)

I was actually thinking of https://github.com/containers/podman/issues/4254#issuecomment-662000140 , which is at least per the issue ~unresolved , though the other one is also relevant (as is, to an extent, https://github.com/containers/podman/issues/3788 “Our setup uses a nginx reverse proxy that only forwards requests to https://repo:443/... if the User-Agent string matches the pattern docker,” — but we really can’t support _arbitrary_ user-agent-restrictive configurations, so that one is moot).

---

Anyway, yes, I think this should happen, and the syntax you suggest does seem to be valid per RFC 7231 section 5.5.3 . c/image will probably need a new `DockerRegistryPartialUserAgent` or something like that, rather than changing the semantics of the existing field.

> if the User-Agent string matches the pattern docker,” — but we really can’t support arbitrary user-agent-restrictive configurations, so that one is moot

Yeah... that's hard to accommodate. Luckily for them, if the useragent is set to `skopeo/<something>`, they could just run `s/skopeo/docker/` over the binary to fix it? (only kind of joking)

> c/image will probably need a new DockerRegistryPartialUserAgent or something like that, rather than changing the semantics of the existing field.

👍 